/*--- HOME ---*/
.home {
  &__container {
    row-gap: 3rem;
    img {
      order: 2;
    }
  }
  &__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-0-75);
    color: var(--color-yellow);
  }
  &__description {
    margin-bottom: var(--mb-2);
  }
}
