/*--- PRICING ---*/
.pricing {
  padding: 3rem 0;

  &__container {
    gap: 3rem 1.25rem;
    margin-top: var(--mb-2);
  }

  &__content {
    position: relative;
    padding: 2rem 1.5rem 2.5rem;
    transition: 0.4s;
    border-radius: 57px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: var(--box-shadow-inset);
    backdrop-filter: var(--filter-blur);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      box-shadow: var(--box-shadow-inset-hover);
    }
  }
  &__header {
    &-img {
      width: 50px;
      height: 40px;
    }
    &-circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-bottom: var(--mb-1);
      place-items: center;
    }
    &-subtitle {
      display: block;
      font-size: var(--smaller-font-size);
      color: var(--text-color-light);
      text-transform: uppercase;
      margin-bottom: var(--mb-0-5);
    }
    &-title {
      font-size: var(--biggest-font-size);
      color: var(--title-color);
      margin-bottom: var(--mb-1);
    }
  }
  &__pricing {
    position: absolute;
    background: linear-gradient(
      157deg,
      var(--first-color-light) -12%,
      var(--first-color) 109%
    );
    width: 80px;
    height: 120px;
    right: 1.5rem;
    top: -1rem;
    padding-top: 1.25rem;
    text-align: center;

    &-number {
      font-family: var(--pricing-font);
    }
    &-symbol {
      font-size: var(--smaller-font-size);
    }
    &-number {
      font-size: var(--h2-font-size);
    }
    &-month {
      display: block;
      font-size: var(--smaller-font-size);
    }
    &-number,
    &-month {
      color: var(--container-color);
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
    }
    &::after {
      width: 100%;
      height: 14px;
      background-color: rgba(255, 255, 255, 0.01);
      left: 0;
      bottom: 0;
      clip-path: polygon(0 100%, 50% 0, 100% 100%);
    }
    &::before {
      width: 14px;
      height: 16px;
      background-color: var(--first-color-alt);
      top: 0;
      left: -14px;
      clip-path: polygon(0 100%, 100% 0, 100% 100%);
    }
  }
  &__list {
    row-gap: 0.5rem;
    margin-bottom: var(--mb-2);
    color: var(--container-color);

    &-item {
      display: flex;
      align-items: center;
    }
    &-icon {
      font-size: 1.5rem;
      color: var(--first-color);
      margin-right: var(--mb-0-5);
    }
  }
  &__button {
    padding: 1.25rem;
    border: none;
    font-size: var(--normal-font-size);
    border-radius: 0.5rem;
    background: linear-gradient(
      157deg,
      var(--first-color-light) -12%,
      var(--first-color) 109%
    );
    color: var(--white-color);
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      box-shadow: 0 12px 24px hsla(var(--hue-color), 97%, 54%, 0.2);
    }
  }
}
