/*--- SERVICES ---*/
.services {
  &__container {
    padding-top: 1rem;
  }
  &__description {
    margin-bottom: var(--mb-2);
    text-align: center;
  }
  &__item {
    display: grid;
    row-gap: 1rem;
    border-radius: 57px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: var(--box-shadow-inset);
    backdrop-filter: var(--filter-blur);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    text-align: center;
    place-items: center;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      box-shadow: var(--box-shadow-inset-hover);
    }
  }
  &__img {
    width: 135px;
    justify-self: center;
    margin-bottom: var(--mb-0-5);
  }
}
