/*--- SERVICES ---*/
.services {
  &__container {
    padding-top: 1rem;
  }
  &__item {
    display: grid;
    row-gap: 1rem;
    border-radius: 57px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    text-align: center;
  }
  &__img {
    width: 135px;
    justify-self: center;
    margin-bottom: var(--mb-0-5);
  }
}
