/*--- REUSABLE CSS CLASSES ---*/
.section {
  padding: 4.5rem 0 1rem;
  border-bottom: 1px solid #ffc10759;

  &__title,
  &__title-center {
    font-size: var(--h2-font-size);
    color: var(--color-yellow);
    text-align: center;
    margin-bottom: var(--mb-1);
  }
}

/*--- LAYOUT ---*/
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  order: 2;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}
